PORT_BACKEND_HTTP=3000
PORT_BACKEND_WS=3001
PORT_EMBEDDER=3003
PORT_FRONTEND=4000
PORT_BROKER_HTTP=5000
PORT_BROKER_WS=5001
PORT_PROCESS_START=7000
AIMPARENCY_DIR_NAME=.bowman
# MCP_PORT=3005 # Optional: Port for MCP SSE server (defaults to 3005 if running expose script)
# NGROK_AUTHTOKEN=your_ngrok_token_here # Required for expose:mcp script