* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --status-open: #87f;
  --status-done: #00ff00;
  --status-cancelled: #ff0000;
  --status-partially: #ffff00;
  --status-failed: #ff6666;
  --status-unclear: #ffa500;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
  background: #000;
  color: #e0e0e0;
  overflow: hidden;
}

/* Global focusable element styling */
.focusable{
  background-color: #3333;
  border-radius: 0.3rem;
  &:focus {
    background-color: #3594;
    outline: 0.1rem solid #007acc44;
    outline-offset: -2px;
  }
}

/* Selected element with inset outline */
.selected-outlined {
  outline: 0.15rem solid #007acc;
  outline-offset: -0.15rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; 
}

::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-corner {
  background: #1a1a1a;
}